nodered.conf
[{"id":"88f6f44f.6aaff8","type":"mqtt in","z":"45249726.8b266","name":"power","topic":"energy/edp/measures/power","qos":"2","broker":"d2578051.80bd1","x":71.5,"y":49,"wires":[["dfae9426.52b9d"]]},{"id":"dfae9426.52b9d","type":"delay","z":"45249726.8b266","name":"delay","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":204.5,"y":49,"wires":[["427208f3.1d5a18"]]},{"id":"fcf5afb4.620e38","type":"mysql","z":"45249726.8b266","mydb":"a2b952d4.3395","name":"iot","x":461.5,"y":50,"wires":[[]]},{"id":"427208f3.1d5a18","type":"function","z":"45249726.8b266","name":"","func":"msg.topic = \"INSERT INTO energy_measures (type,value) VALUES('POWER',\" + msg.payload + \");\";\nreturn msg;","outputs":1,"noerr":0,"x":333.5,"y":50,"wires":[["fcf5afb4.620e38"]]},{"id":"c7e04c5.168243","type":"mqtt in","z":"45249726.8b266","name":"voltage","topic":"energy/edp/measures/voltage","qos":"2","broker":"d2578051.80bd1","x":70,"y":113,"wires":[["4596cb86.698ae4"]]},{"id":"4596cb86.698ae4","type":"delay","z":"45249726.8b266","name":"delay","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":200,"y":113,"wires":[["51997202.d3adac"]]},{"id":"ad2065d3.0f3268","type":"mysql","z":"45249726.8b266","mydb":"a2b952d4.3395","name":"iot","x":459,"y":112,"wires":[[]]},{"id":"51997202.d3adac","type":"function","z":"45249726.8b266","name":"","func":"msg.topic = \"UPDATE energy_measures SET value=\" + msg.payload + \"WHERE type = 'VOLTAGE' ORDER BY id DESC LIMIT 1;\";\nreturn msg;","outputs":1,"noerr":0,"x":331,"y":112,"wires":[["ad2065d3.0f3268"]]},{"id":"77d6dd19.16aab4","type":"mqtt in","z":"45249726.8b266","name":"current","topic":"energy/edp/measures/current","qos":"2","broker":"d2578051.80bd1","x":70,"y":167,"wires":[["21d2dcca.be2ebc"]]},{"id":"21d2dcca.be2ebc","type":"delay","z":"45249726.8b266","name":"delay","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":200,"y":167,"wires":[["3079ea6f.aa2f66"]]},{"id":"3b78a8eb.ef7798","type":"mysql","z":"45249726.8b266","mydb":"a2b952d4.3395","name":"iot","x":459,"y":166,"wires":[[]]},{"id":"3079ea6f.aa2f66","type":"function","z":"45249726.8b266","name":"","func":"msg.topic = \"UPDATE energy_measures SET value=\" + msg.payload + \"WHERE type = 'CURRENT' ORDER BY id DESC LIMIT 1;\";\n//msg.topic = \"INSERT INTO energy_measures (type,value) VALUES('CURRENT',\" + msg.payload + \");\";\nreturn msg;","outputs":1,"noerr":0,"x":331,"y":166,"wires":[["3b78a8eb.ef7798"]]},{"id":"1b002a22.21fbee","type":"mqtt in","z":"45249726.8b266","name":"energy","topic":"energy/edp/measures/energy","qos":"2","broker":"d2578051.80bd1","x":69,"y":221,"wires":[["dbad1b.f7026ae8"]]},{"id":"dbad1b.f7026ae8","type":"delay","z":"45249726.8b266","name":"delay","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":202,"y":221,"wires":[["68385a3b.92f1bc"]]},{"id":"d77d09a8.a026b8","type":"mysql","z":"45249726.8b266","mydb":"a2b952d4.3395","name":"iot","x":459,"y":222,"wires":[[]]},{"id":"68385a3b.92f1bc","type":"function","z":"45249726.8b266","name":"","func":"msg.topic = \"INSERT INTO energy_measures (type,value) VALUES('ENERGY',\" + msg.payload + \");\";\nreturn msg;","outputs":1,"noerr":0,"x":331,"y":222,"wires":[["d77d09a8.a026b8"]]},{"id":"d2578051.80bd1","type":"mqtt-broker","z":"45249726.8b266","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"a2b952d4.3395","type":"MySQLdatabase","z":"45249726.8b266","host":"127.0.0.1","port":"3306","db":"iot","tz":""}]